@model CrimeTrackingSystem_CTS_.Models.CrimeComplain
@{
    ViewBag.UserTitle = "CrimeComplain";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@Html.Raw(TempData["SizeError"])
@Html.Raw(TempData["ExtensionError"])
@if ((string)TempData["result"] == "true")
{
    <div class="w-50 m-auto m-3 alert alert-success alert-dismissible fade show success-msg" role="alert">
        <strong>Success : </strong> Data recoreded successfully !
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<h1 class="container text-center p-3"><i class="fa-solid fa-handcuffs"></i> Crime Complain</h1>
<div class="crime">
    @*instruction*@
    <div class="crime-instruction">
        <div class="pt-5">
            <h3><i class="fa-solid fa-person-chalkboard"></i> Complain Instructions</h3>
            <h6 class="text-danger fw-bolder">फॉर्म भरने के लिए निर्देश |</h6>
        </div>
        <div>
            <ul class="list-unstyled">
                <li><i class="fa-regular fa-hand-point-right"></i> <strong>Police Station : </strong><span class="fw-medium">choose your district police(अपने जिला पुलिस को चुने|)</span> </li>
                <li><i class="fa-regular fa-hand-point-right"></i> <strong>Category : </strong><span class="fw-medium">choose type of crime(अपराध का प्रकार चुने|)</span> </li>
                <li><i class="fa-regular fa-hand-point-right"></i> <strong>Involved Person : </strong><span class="fw-medium">Name involvies(अपराध में शामिल लोगो के नाम लिखें|)</span> </li>
                <li><i class="fa-regular fa-hand-point-right"></i> <strong>Proofs : </strong><span class="fw-medium">give us proofs, only images(प्रूफ्स में केवल फोटो दें|)</span> </li>
                <li><i class="fa-regular fa-hand-point-right"></i> <strong>Crime Police Station : </strong><span class="fw-medium">name your local thana/kotwali(अपने मोहल्ले के पुलिस स्टेशन का नाम दें|)</span> </li>
            </ul>
        </div>
    </div>
    @*form*@
    <div class="crime-form">
        @using (Html.BeginForm("Crime", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            
                
                    @*first row*@
                    <div class="crime-form-item">
                        <div>
                            <span>
                                <i class="fa-solid fa-building-shield"></i>
                                @Html.LabelFor(model => model.PoliceStationName, new { @class = "form-label fw-bolder" })
                                <br />
                                <small>@Html.ValidationMessageFor(model => model.PoliceStationName, "", new { @class = "text-danger fw-bolder" })</small>
                            </span>
                            @Html.DropDownListFor(model => model.PoliceStationName, (IEnumerable<SelectListItem>)ViewBag.OptionList, "--select--", new { @class = "cc-box" })
                        </div>
                        <div>
                            <span>
                                <i class="fa-solid fa-handcuffs"></i>
                                @Html.LabelFor(model => model.CrimeType, new { @class = "form-label fw-bolder" })
                                <br />
                                <small>@Html.ValidationMessageFor(model => model.CrimeType, "", new { @class = "text-danger fw-bolder" })</small>
                            </span>
                            @Html.DropDownListFor(model => model.CrimeType,
                            new SelectList(new[] {
                            "Cyber crime",
                            "Drug Trafficking",
                            "Robbery",
                            "Violence",
                            "Burglary",
                            "Fraud",
                            "Money Laundering",
                            "Kidnapping",
                            "Assault",
                            "Theft",
                            "Human Trafficking",
                            "Terrorism",
                            "Murder",
                            "Rape",
                            "Domestic Violence"
                            }),
                            "--select--",
                           new { @class = "cc-box" })
                        </div>
                    </div>
                    @*second row*@
                    <div>
                        <div>
                            <span>
                                <i class="fa-solid fa-handshake"></i>
                                @Html.LabelFor(model => model.InvolvedPersons, new { @class = "form-label fw-bolder" })
                                <br />
                                <small>@Html.ValidationMessageFor(model => model.InvolvedPersons, "", new { @class = "text-danger fw-bolder" })</small>
                            </span>
                            @Html.EditorFor(model => model.InvolvedPersons, new { htmlAttributes = new { @class = "cc-box", placeholder = "persons who are involved" } })
                        </div>
                    </div>
                    @*third row*@
                    <div>
                        <div>
                            <span>
                                <i class="fa-regular fa-image"></i>
                                @Html.LabelFor(model => model.Proofs, new { @class = "form-label fw-bolder" })
                            </span>
                            <input type="file" class="cc-box" name="UploadImage" required />
                        </div>
                        <div>
                            <span>
                                <i class="fa-solid fa-building-shield"></i>
                                @Html.LabelFor(model => model.CrimeStation, new { @class = "form-label fw-bolder" })
                                <br />
                                <small>@Html.ValidationMessageFor(model => model.CrimeStation, "", new { @class = "text-danger fw-bolder" })</small>
                            </span>
                            @Html.EditorFor(model => model.CrimeStation, new { htmlAttributes = new { @class = "cc-box", placeholder = "name of your area police station" } })
                        </div>
                    </div>
                    @*fifth row*@
                    <div>
                        <button class=" send">send</button>
                        <input type="reset" value="clear" class=" clear" />
                    </div>
                    @*sixth row*@
                <div>
                    <a href="#" class="p-2 text-primary fw-bolder" style="font-size:10pt"><i class="fa-regular fa-hand-point-right"></i> click here to show complains you filled...</a>
                </div>
               
           
        }
    </div>
</div>




