@model CrimeTrackingSystem_CTS_.Models.CrimeComplainViewModel
@{
    ViewBag.UserTitle = "Crime Complain";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@*instruction*@
<div class="crime-instruction">
    <div class="pt-5">
        <h3><i class="fa-solid fa-person-chalkboard"></i> Complain Instructions</h3>
        <h6 class="text-danger fw-bolder">फॉर्म भरने के लिए निर्देश |</h6>
    </div>
    <div>
        <ul class="list-unstyled">
            <li><i class="fa-regular fa-hand-point-right"></i> <strong>Police Station : </strong><span class="fw-medium">choose your district police(अपने जिला पुलिस को चुने|)</span> </li>
            <li><i class="fa-regular fa-hand-point-right"></i> <strong>Category : </strong><span class="fw-medium">choose type of crime(अपराध का प्रकार चुने|)</span> </li>
            <li><i class="fa-regular fa-hand-point-right"></i> <strong>Involved Person : </strong><span class="fw-medium">Name involvies(अपराध में शामिल लोगो के नाम लिखें|)</span> </li>
            <li><i class="fa-regular fa-hand-point-right"></i> <strong>Proofs : </strong><span class="fw-medium">give us proofs, only images(प्रूफ्स में केवल फोटो दें|)</span> </li>
            <li><i class="fa-regular fa-hand-point-right"></i> <strong>Crime Police Station : </strong><span class="fw-medium">name your local thana/kotwali(अपने मोहल्ले के पुलिस स्टेशन का नाम दें|)</span> </li>
        </ul>
    </div>
</div>
@*form*@
@using (Ajax.BeginForm("Crime", "User", new AjaxOptions()
{
    HttpMethod="POST",
    LoadingElementId= "CrimeLoader",
    OnSuccess= "CrimeRegistered"
}, new { enctype = "multipart/form-data" }))
{
    <div class="admin-gallery-uploader">
        <h1><i class="fa-solid fa-handcuffs"></i> Crime Complain</h1>
        <div class="admin-gallery-item">
            <div class="admin-gallery-item-flex">
                <div>
                    <fieldset>
                        <legend>
                            <i class="fa-solid fa-building-shield"></i>
                            @Html.LabelFor(model => model.PoliceStationName)
                        </legend>
                        <small class="text-danger fw-bold">
                            @Html.ValidationMessageFor(model => model.PoliceStationName, "", new { @class = "text-danger fw-bolder" })
                        </small>
                        @Html.DropDownListFor(model => model.PoliceStationName, (IEnumerable<SelectListItem>)ViewBag.OptionList, "--select--", new { @class = "cc-box", id = "policeStation" })
                    </fieldset>
                </div>
                <div>
                    <fieldset>
                        <legend>
                            <i class="fa-solid fa-handcuffs"></i>
                            @Html.LabelFor(model => model.CrimeType)
                        </legend>
                        <small class="text-danger fw-bold">
                            @Html.ValidationMessageFor(model => model.CrimeType, "", new { @class = "text-danger fw-bolder" })
                        </small>
                        @Html.DropDownListFor(model => model.CrimeType,
                            new SelectList(new[] {
                            "Cyber crime",
                            "Drug Trafficking",
                            "Robbery",
                            "Violence",
                            "Burglary",
                            "Fraud",
                            "Money Laundering",
                            "Kidnapping",
                            "Assault",
                            "Theft",
                            "Human Trafficking",
                            "Terrorism",
                            "Murder",
                            "Rape",
                            "Domestic Violence"
                            }),
                            "--select--",
                           new { @class = "cc-box", id = "crimeType" })
                    </fieldset>
                </div>
                <div>
                    <fieldset>
                        <legend>
                            <i class="fa-solid fa-building-shield"></i>
                            @Html.LabelFor(model => model.InvolvedPersons)
                        </legend>
                        <small class="text-danger fw-bold">
                            @Html.ValidationMessageFor(model => model.InvolvedPersons, "", new { @class = "text-danger fw-bolder" })
                        </small>
                        @Html.EditorFor(model => model.InvolvedPersons, new { htmlAttributes = new { @class = "cc-box", placeholder = "persons who are involved", id = "involvedPerson" } })
                    </fieldset>
                </div>
            </div>
            <div class="admin-gallery-item-flex">
                <div>
                    <fieldset>
                        <legend>
                            <i class="fa-solid fa-building-shield"></i>
                            @Html.LabelFor(model => model.CrimeStation)
                        </legend>
                        <small class="text-danger fw-bold">
                            @Html.ValidationMessageFor(model => model.CrimeStation, "", new { @class = "text-danger fw-bolder" })
                        </small>
                        @Html.EditorFor(model => model.CrimeStation, new { htmlAttributes = new { @class = "cc-box", placeholder = "name of your area police station", id = "crimeStation" } })
                    </fieldset>
                </div>
            </div>
            <div>
                <fieldset>
                    <legend>
                        <i class="fa-regular fa-image"></i>
                        @Html.LabelFor(model => model.Proofs)
                    </legend>
                    <input type="file" class="cc-box" name="UploadImage" required id="image" />
                </fieldset>
            </div>
            <div style="margin-left:10px;">
                <button class="btn btn-primary" value="upload" id="myButton" onclick="return ValidateCrimeForm()"><i class="fa-solid fa-paper-plane"></i> send</button>
                <a href="@Url.Action("CrimeComplainData", "User")" class="p-2 text-primary fw-bolder" style="font-size:10pt"><i class="fa-regular fa-hand-point-right"></i> click here to show complains you filled...</a>
            </div>
            @*loader*@
            <div id="CrimeLoader" class="loadingElementStyle">
                <img src="~/Images/loader/5.gif" />
                <img src="~/Images/loader/279.gif" />
            </div>
        </div>
    </div>
}




