@model List<CrimeTrackingSystem_CTS_.Models.CrimeComplain>

@{
    ViewBag.UserTitle = "Crime Complain Data";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div class="table-responsive">
    <h2 class="p-3"><i class="fa-solid fa-handcuffs"></i> Crime Complaint Data</h2>
    <table class="table table-group-divider table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Proof</th>
                <th>Complain ID</th>
                <th>Police Station</th>
                <th>Category</th>
                <th>Invlovies</th>
                <th>Local Police Station</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                            <a href="@Url.Content(item.Proofs)" target="_blank"><img src="@Url.Content(item.Proofs)" class="fetchImage" alt="image data" /></a>
                            </td>
                            <td>@item.Id</td>
                            <td>@item.PoliceStationName</td>
                            <td>@item.CrimeType</td>
                            <td>@item.InvolvedPersons</td>
                            <td>@item.CrimeType</td>
                            <td>@item.CurrentDateTime</td>
                            <td>@item.Status</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td><p>no record found</p></td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>
 

