@model List<CrimeTrackingSystem_CTS_.Models.GeneralComplain>
@{
    ViewBag.UserTitle = "GeneralComplainData";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="table-responsive">
    <h2 class="p-3"><i class="fa-solid fa-file-signature"></i> General Complaint Data</h2>
    <table class="table table-light display responsive nowrap table-bordered" width="100%" id="tableJsId">
        <thead>
            <tr>
                <th>Complain ID</th>
                <th>Police Station</th>
                <th>Subject</th>
                <th>Involvies</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.PoliceStationName</td>
                            <td>@item.Subject</td>
                            <td>@item.InvolvedPersons</td>
                            <td>@item.CurrentDateTime</td>
                            <td>@item.Status</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td><p>no record found</p></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

