@model CrimeTrackingSystem_CTS_.Models.GeneralComplain
@{
    ViewBag.UserTitle = "General Complain";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@if ((string)TempData["result"] == "true")
{
    <div class="w-50 m-auto m-3 alert alert-success alert-dismissible fade show success-msg" role="alert">
        <strong>Success : </strong> Data recoreded successfully !
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@*heading*@
<h1 class="container text-center p-3"><i class="fa-solid fa-file-signature"></i> General Complain</h1>
@*content*@
<div class="crime">
    @*instruction*@
    <div class="crime-instruction">
        <div class="pt-5">
            <h3><i class="fa-solid fa-person-chalkboard"></i> Complain Instructions</h3>
            <h6 class="text-danger fw-bolder">फॉर्म भरने के लिए निर्देश |</h6>
        </div>
        <div>
            <ul class="list-unstyled">
                <li><i class="fa-regular fa-hand-point-right"></i> <strong>Police Station : </strong><span class="fw-medium">choose your district police(अपने जिला पुलिस को चुने |)</span> </li>
                <li><i class="fa-regular fa-hand-point-right"></i> <strong>Subject : </strong><span class="fw-medium">write reason, why you are filling this form(कारण लिखें की क्यों आप ये फॉर्म भर रहे हैं |) </span> </li>
                <li><i class="fa-regular fa-hand-point-right"></i> <strong>Involved Person : </strong><span class="fw-medium">Name involvies(अपराध में शामिल लोगो के नाम लिखें |)</span> </li>
                <li><i class="fa-regular fa-hand-point-right"></i> <strong>Details : </strong><span class="fw-medium">give full details in 200 words(२०० शब्दों में पूरी जानकारी दें |)</span> </li>
            </ul>
        </div>
    </div>
    @*form*@
    <div class="crime-form">
        @using (Html.BeginForm("General", "User", FormMethod.Post))
        {
            <div class="complain-form-structure">
                <div class="complain-form">
                    <div>
                        <br />
                        @*first row*@
                        <div>
                            <div>
                                <span>
                                    <i class="fa-solid fa-user"></i>
                                    @Html.LabelFor(model => model.PoliceStationName, new { @class = "form-label fw-bolder" })
                                    <br />
                                    <small>@Html.ValidationMessageFor(model => model.PoliceStationName, "", new { @class = "text-danger fw-bolder" })</small>
                                </span>
                                @Html.DropDownListFor(model => model.PoliceStationName, (IEnumerable<SelectListItem>)ViewBag.OptionList, "--select--", new { @class = "cc-box" })
                            </div>
                            <div>
                                <span>
                                    <i class="fa-solid fa-marker"></i>
                                    @Html.LabelFor(model => model.Subject, new { @class = "form-label fw-bolder" })
                                    <br />
                                    <small>@Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger fw-bolder" })</small>
                                </span>
                                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "cc-box", placeholder = "persons who are involved" } })
                            </div>
                            <div>
                                <span>
                                    <i class="fa-solid fa-handshake"></i>
                                    @Html.LabelFor(model => model.InvolvedPersons, new { @class = "form-label fw-bolder" })
                                    <br />
                                    <small>@Html.ValidationMessageFor(model => model.InvolvedPersons, "", new { @class = "text-danger fw-bolder" })</small>
                                </span>
                                @Html.EditorFor(model => model.InvolvedPersons, new { htmlAttributes = new { @class = "cc-box", placeholder = "persons who are involved" } })
                            </div>
                        </div>
                        @*second row*@
                        <div>
                            <div>
                                <span>
                                    <i class="fa-solid fa-file-pen"></i>
                                    @Html.LabelFor(model => model.Details, new { @class = "form-label fw-bolder" })
                                    <br />
                                    <small>@Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger fw-bolder" })</small>
                                </span>
                                @Html.TextAreaFor(model => model.Details, new { @class = "cc-box", rows = "2" })
                            </div>
                        </div>
                        <div>
                            <button class="send p-1">submit</button>
                            <input type="reset" value="clear " class="clear p-1" />
                        </div>
                        <div>
                            <a href="#" class="p-2 text-primary fw-bolder" style="font-size:10pt"><i class="fa-regular fa-hand-point-right"></i> click here to show complains you filled...</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


