
@{
    ViewBag.UserTitle = "Home";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="register-welcome">
    <h3>
        Welcome,
        <label class="">@Session["usermail"]</label>
        <a href="#" title="profile"><i class="fa-solid fa-user-pen"></i></a>
    </h3>
</div>
<div class="register-card text-center">
    <div>
        <i style="font-size:3rem;color:#01308f" class="fa-solid fa-handcuffs"></i>
        <label style="font-size:3rem" />
        <h6>Crimes Complain you filled</h6>
        <section class="d-flex" style="font-size:1.5rem">
            <section class="w-100 m-2">
                <i class="fa-solid fa-circle-check" style="color: #07b03a;" title="solved cases"></i>
                <label title="solved cases">
                    @ViewBag.solved
                </label>
            </section>
            <section class="w-100 m-2">
                <i class="fa-solid fa-hand" style="color: #e13d3d;" title="pending cases"></i>
                <label title="pending cases">
                    @ViewBag.pending
                </label>
            </section>
        </section>
        <a href="@Url.Action("CrimeComplainData","User")" class="cc-btn fs-6 p-2">check now !</a>
    </div>
    <div>
        <i style="font-size:3rem;color:#01308f" class="fa-solid fa-file-signature"></i>
        <label style="font-size:3rem" />
        <h6>General Complains you filled</h6>
        <section class="d-flex" style="font-size:1.5rem">
            <section class="w-100 m-2">
                <i class="fa-solid fa-circle-check" style="color: #07b03a;" title="solved cases"></i>
                <label title="solved cases">
                    @ViewBag.solvedgeneral
                </label>
            </section>
            <section class="w-100 m-2">
                <i class="fa-solid fa-hand" style="color: #e13d3d;" title="pending cases"></i>
                <label title="pending cases">
                    @ViewBag.pendinggeneral
                </label>
            </section>
        </section>
        <a href="@Url.Action("GeneralComplainData","User")" class="cc-btn fs-6 p-2">check now !</a>
    </div>
    <div>
        <i style="font-size:3rem;color:#01308f" class="fa-solid fa-person"></i>
        <label style="font-size:3rem" />
        <h6>Missing Person complains you filled</h6>
        <section class="d-flex" style="font-size:1.5rem">
            <section class="w-100 m-2">
                <i class="fa-solid fa-circle-check" style="color: #07b03a;" title="solved cases"></i>
                <label title="solved cases">
                    @ViewBag.solvedperson
                </label>
            </section>
            <section class="w-100 m-2">
                <i class="fa-solid fa-hand" style="color: #e13d3d;" title="pending cases"></i>
                <label title="pending cases">
                    @ViewBag.pendingperson
                </label>
            </section>
        </section>
        <a href="@Url.Action("MissingPersonData", "User")" class="cc-btn fs-6 p-2">check now !</a>
    </div>
    <div>
        <i style="font-size:3rem;color:#01308f" class="fa-regular fa-gem"></i>
        <label style="font-size:3rem" />
        <h6>Missing Valuable Complain you filled</h6>
        <section class="d-flex" style="font-size:1.5rem">
            <section class="w-100 m-2">
                <i class="fa-solid fa-circle-check" style="color: #07b03a;" title="solved cases"></i>
                <label title="solved cases">@ViewBag.solvedvalue</label>
            </section>
            <section class="w-100 m-2">
                <i class="fa-solid fa-hand" style="color: #e13d3d;" title="pending cases"></i>
                <label title="pending cases">
                    @ViewBag.pendingvalue
                </label>
            </section>
        </section>
        <a href="@Url.Action("MissingValuableData", "User")" class="cc-btn fs-6 p-2">check now !</a>
    </div>
</div>