@model List<CrimeTrackingSystem_CTS_.Models.MissingPerson>
@{
    ViewBag.UserTitle = "MissingPersonData";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="table-responsive">
    <h2 class="p-3"><i class="fa-solid fa-person"></i> Missing Person Complaint Data</h2>
    <table class="table table-group-divider table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Missing Person</th>
                <th>Complain ID</th>
                <th>Police Station</th>
                <th>Person Name</th>
                <th>Person Phone no.</th>
                <th>Person Email</th>
                <th>Last Location</th>
                <th>Reward</th>
                <th>Details</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Content(item.PersonImage)" target="_blank"><img src="@Url.Content(item.PersonImage)" class="fetchImage" alt="image data" /></a>
                            </td>
                            <td>@item.Id</td>
                            <td>@item.PoliceStationName</td>
                            <td>@item.Person</td>
                            <td>@item.PersonPhone</td>
                            <td>@item.PersonEmail</td>
                            <td>@item.LastLocation</td>
                            <td>@item.Ransom</td>
                            <td>@item.Details</td>
                            <td>@item.CurrentDateTime</td>
                            <td>@item.Status</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td><p>no record found</p></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


