@{
    ViewBag.Title = "Home";
}
@*hero*@
<div class="hero" id="hero">
    <div class="left">
        <img src="~/Images/11(2).png" class="spin" alt="animator.png" />
    </div>
    <div class="right">
        <h1><span class="title-vip" id="title-vip1">Criminal</span> Tracking System</h1>
        <p>CTS is an online portal to track crime records.</p>
        <small>Managed by State Police Department</small>
        <label><i class="fa-solid fa-phone"></i>+91-0522-112</label>
        <a href="@Url.Action("Login", "Home")" class="send">join us</a>
    </div>
</div>
<div class="about-services">
    @*about*@
    <div class="about" id="about">
        <h1 class="section-title" id="section-title"><span class="title-vip" id="title-vip2"><i class="fa-solid fa-circle-info"></i>About</span> Us</h1>
        <div class="card-info">
            <div class="card-info-sections">
                <div class="card-item">
                    <h1>What's CTS ?</h1>
                    <p>Criminal Tracking Systems (CTS) is a plan scheme conceived in the light of experience of a non-plan scheme namely.</p>
                </div>
                <div class="card-item">
                    <h1>CTS Vissions</h1>
                    <p>Make the Police functioning citizen friendly and more transparent by automating the functioning of Police Stations.</p>
                </div>
                <div class="card-item">
                    <h1>Stakeholder</h1>
                    <p>Citizens/ Citizens groups, MHA/NCRB, State Police department, External Departments of the State such as Courts, and Peoples.</p>
                </div>
                <div class="card-item">
                    <h1>Benefits</h1>
                    <p>Enhanced tools for investigation, Centralized crime and criminal information repository along with the criminal images.<p>
                </div>
            </div>
        </div>
    </div>
    @*services*@
    <div class="service-container" id="services">
        <h1 class="section-title"><span class="title-vip" id="title-vip3"><i class="fa-solid fa-cubes"></i>Our</span> Services</h1>
        <div class="services">
            @*first*@
            <div class="services-item">
                <div>
                    <p>Missing Person Report</p>
                    <a href="@Url.Action("Login", "Home")" class="cc-btn">visit</a>
                </div>
                <div class="hide">
                    <img src="~/Images/mr.jpg" alt="Missing.png" />
                </div>
            </div>
            @*@second*@
            <div class="services-item">
                <div>
                    <p>Missing Valuable Report</p>
                    <a href="@Url.Action("Login", "Home")" class="cc-btn">visit</a>
                </div>
                <div class="hide">
                    <picture>
                        <source type="image/webp" srcset="~/Images/mv.webp" />
                        <source type="image/webp" srcset="~/Images/mv.jpg" />
                        <img src="~/Images/mv.jpg" alt="missingvaluable.jpg" />
                    </picture>
                </div>
            </div>
            @*third*@
            <div class="services-item">
                <div>
                    <p>Crime Complain</p>
                    <a href="@Url.Action("Login", "Home")" class="cc-btn">visit</a>
                </div>
                <div class="hide">
                    <img src="~/Images/cc.jpg" alt="crime complain.jpg" />
                </div>
            </div>
            @*fourth*@
            <div class="services-item">
                <div>
                    <p>General Complain</p>
                    <a href="@Url.Action("Login", "Home")" class="cc-btn">visit</a>
                </div>
                <div class="hide">
                    <img src="~/Images/gc.jpg" alt="general complain.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
@*member*@
<div class="member">
    <h1 class="section-title"><span class="title-vip" id="title-vip5"><i class="fa-solid fa-users"></i>Our</span> Team</h1>
    <div class="mentor" id="mentor">
        <div class="image">
            <img src="~/Images/mentor 1.jpg" />
        </div>
        <div class="image-data">
            <h1>Our Mentor</h1>
            <p><strong>Mr. Sushant Pathhak</strong> project mentor.</p>
            <small>Project Scientist at Remote Sensing Applications Centre Uttar Pradesh, Lucknow</small>
            <div class="member-link">
                <a id="member-social1" href="https://www.facebook.com/engg.superpower" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a id="member-social2" href="https://www.instagram.com/scientistsushantpathak/" target="_blank"><i class="fa-brands fa-square-instagram "></i></a>
                <a id="member-social3" href="https://www.indiamart.com/sunriseinfotechsolution/" target="_blank"><i class="fa-solid fa-cart-shopping"></i></a>
                <a id="member-social4" href="http://www.sunriseinfotechsolution.com/Anonymous/Home.aspx" target="_blank"><i class="fa-solid fa-globe "></i></a>
            </div>
        </div>
    </div>
    <div class="mentor" id="developer">
        <div class="image">
            <img src="~/Images/developer.jpg" />
        </div>
        <div class="image-data">
            <h1>The Developer</h1>
            <p><strong>Mr. Ashutosh Prasad</strong> project developer.</p>
            <small>MCA graduate from AIET and a full stack developer on python & ASP.NET with MVC</small>
            <div class="member-link">
                <a id="member-social5" href="https://www.facebook.com/ashutosh.prasad.754365/" target="_blank"><i class="fa-brands fa-facebook-f "></i></a>
                <a id="member-social6" href="https://www.instagram.com/official.ashu.2000/" target="_blank"><i class="fa-brands fa-square-instagram "></i></a>
                <a id="member-social7" href="https://twitter.com/Ashutos96662173" target="_blank"><i class="fa-brands fa-twitter "></i></a>
                <a id="member-social8" href="https://wa.me/6386239194" target="_blank"><i class="fa-brands fa-square-whatsapp "></i></a>
                <a id="member-social9" href="https://github.com/OfficialAshutosh2412?tab=repositories" target="_blank"><i class="fa-brands fa-github "></i></a>
            </div>
        </div>
    </div>
</div>
@*other sites*@
<div class="other-sites">
    <div id="other-dark1">
        <a href="https://pgportal.gov.in/" target="_blank">
            <img src="~/Images/cpgrams.png" />
        </a>
    </div>
    <div id="other-dark2">
        <a href="https://data.gov.in/" target="_blank"><img src="~/Images/data-gov.png" /></a>
    </div>
    <div id="other-dark3">
        <a href="https://www.g20.org/en/" target="_blank"><img src="~/Images/g20_logo.png" /></a>
    </div>
    <div id="other-dark4">
        <a href="https://www.india.gov.in/" target="_blank"> <img src="~/Images/india-gov.png" /></a>
    </div>
    <div id="other-dark5">
        <a href="https://www.nic.in/" target="_blank"><img src="~/Images/logo-nic-blue.png" /></a>
    </div>
    <div id="other-dark6">
        <a href="https://www.mygov.in/" target="_blank"><img src="~/Images/mygov.png" /></a>
    </div>
</div>