@model CrimeTrackingSystem_CTS_.Models.EmailReplyModel
@{
    ViewBag.AdminTitle = "Contact Request Reply";
    ViewBag.PageTitle = "Contact Request Reply";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if ((string)TempData["result"] == "true")
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                icon: 'success',
                title: 'Success',
                text: 'data recorded successfully !'
            });
        });
    </script>
}
@*form*@

@using (Html.BeginForm("ContactRequestReply", "Admin", FormMethod.Post))
{
    <div class="admin-gallery-uploader">
        <h1><a href="@Url.Action("ContactRequests","Admin")" title="go back" class="text-decoration-none btn btn-outline-danger"><i class="fa-solid fa-arrow-left"></i></a>Contact request reply</h1>
        <div class="admin-gallery-item">
            <div>
                <fieldset>
                    <legend>
                        <i class="fa-solid fa-envelope"></i>
                        @Html.LabelFor(model => model.OriginalEmail, new { @class = "form-label" })
                    </legend>
                    <small class="text-danger fw-bold">
                        @Html.ValidationMessageFor(model => model.OriginalEmail, "", new { @class = "text-danger fw-bolder" })
                    </small>
                    @Html.DropDownListFor(model => model.OriginalEmail, (SelectList)ViewBag.listOfEmail, "select an email", new { @class = "cc-box" })
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <legend>
                        <i class="fa-solid fa-pen-nib"></i>
                        @Html.LabelFor(model => model.ReplyContent, new { @class = "form-label" })
                    </legend>
                    <small class="text-danger fw-bold">
                        @Html.ValidationMessageFor(model => model.ReplyContent, "", new { @class = "text-danger fw-bolder" })
                    </small>
                    @Html.TextAreaFor(model => model.ReplyContent, new { rows = 10, @class = "cc-box", placeholder = "write reply details here..." })
                </fieldset>
            </div>
            <div style="margin-left:10px;">
                <button class="btn btn-primary" value="upload" id="myButton"> <i class="fa-solid fa-paper-plane"></i> send</button>
            </div>
        </div>
    </div>
}
