@model CrimeTrackingSystem_CTS_.Models.CriminalImageViewModel
@{
    ViewBag.AdminTitle = "Criminal Photo Upload";
    ViewBag.PageTitle = "Criminal Photo Upload";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Raw(TempData["message"])

@using (Html.BeginForm("CriminalUpload", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="admin-gallery-uploader">
        <h1>Criminal Photo Upload</h1>
        <div class="admin-gallery-item">
            <div>
                <fieldset>
                    <legend><i class="fa-solid fa-pencil"></i> @Html.LabelFor(model => model.Name, new { @class = "form-label" })</legend>
                    <small class="text-danger fw-bold">
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </small>
                    @Html.TextBoxFor(model => model.Name, new { @class = "cc-box" })
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <legend>
                        <i class="fa-solid fa-building"></i>
                        @Html.LabelFor(model => model.AffectedOrganisation, new { @class = "form-label" })
                    </legend>
                    <small class="text-danger fw-bold">
                        @Html.ValidationMessageFor(model => model.AffectedOrganisation, "", new { @class = "text-danger" })
                    </small>
                    @Html.TextBoxFor(model => model.AffectedOrganisation, new { @class = "cc-box" })
                </fieldset>

            </div>
            <div>
                <fieldset>
                    <legend>
                        <i class="fa-solid fa-indian-rupee-sign"></i>
                        @Html.LabelFor(model => model.Reward, new { @class = "form-label" })
                    </legend>
                    <small class="text-danger fw-bold">
                        @Html.ValidationMessageFor(model => model.Reward, "", new { @class = "text-danger" })
                    </small>
                    @Html.TextBoxFor(model => model.Reward, new { @class = "cc-box" })
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <legend>
                        <i class="fa-solid fa-file"></i>
                        @Html.LabelFor(model => model.Details, new { @class = "form-label " })
                    </legend>
                    <small class="text-danger fw-bold">
                        @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                    </small>
                    @Html.TextBoxFor(model => model.Details, new { @class = "cc-box" })
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <legend>
                        <i class="fa-regular fa-image"></i>
                        @Html.LabelFor(model => model.CriminalImage, new { @class = "form-label fw-bolder" })
                    </legend>
                    <input type="file" name="ImageFiles" class="cc-box" required style="height:200px;border:1px solid #787878;cursor:pointer"/>
                </fieldset>
            </div>
            <div style="margin-left:10px;">
                <button class="btn btn-primary" value="upload" id="myButton"> <i class="fa-solid fa-cloud-arrow-up"></i> upload</button>
            </div>
        </div>
    </div>
}

