@model CrimeTrackingSystem_CTS_.Models.FaqViewModel
@{
    ViewBag.AdminTitle = "FAQ New Entry";
    ViewBag.PageTitle = "FAQ New Entry";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if ((string)TempData["result"] == "true")
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                icon: 'success',
                title: 'Success',
                text: 'data recorded successfully !'
            });
        });
    </script>
}

@using (Html.BeginForm("FaqRecordInsertion", "Admin", FormMethod.Post))
{
    <div class="admin-gallery-uploader">
        <h1><a href="@Url.Action("FaqRecords","Admin")" title="go back" class="text-decoration-none btn btn-outline-danger"><i class="fa-solid fa-arrow-left"></i></a>FAQ Upload</h1>
        <div class="admin-gallery-item">
            <div>
                <fieldset>
                    <legend>
                        <i class="fa-solid fa-question"></i>
                        @Html.LabelFor(model => model.Questions, new { @class = "form-label" })
                    </legend>
                    <small class="text-danger fw-bold">
                        @Html.ValidationMessageFor(model => model.Questions, "", new { @class = "text-danger fw-bolder" })
                    </small>
                    @Html.EditorFor(model => model.Questions, new { htmlAttributes = new { @class = "cc-box" } })
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <legend>
                        <i class="fa-solid fa-comments"></i>
                        @Html.LabelFor(model => model.Answer, new { @class = "form-label" })
                    </legend>
                    <small class="text-danger fw-bold">
                        @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger fw-bolder" })
                    </small>
                    @Html.TextAreaFor(model => model.Answer, new { rows = 15, @class = "cc-box", placeholder = "write answer here..." })
                </fieldset>
            </div>
            <div style="margin-left:10px;">
                <button class="btn btn-primary" value="upload" id="myButton"> <i class="fa-solid fa-paper-plane"></i> send</button>
            </div>
        </div>
    </div>
}



