@model IEnumerable<CrimeTrackingSystem_CTS_.Models.News>
@{
    ViewBag.AdminTitle = "News Records";
    ViewBag.PageTitle = "News Records";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="p-2">
    <a class="btn btn-sm btn-outline-warning" href="@Url.Action("NewsInsertion","Admin")">create new entry</a>
    <button class="btn btn-sm btn-secondary border border-light" onclick="NewsRecordPrint()">print data</button>
</div>

<div class="tableForView border border-warning rounded-2" id="newsData">
    <div>
        <table class="table">
            <thead class="table-secondary">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Details</th>
                    <th>Post date & time</th>
                </tr>
            </thead>
            <tbody class="table-dark table-body">
                @if (Model != null)
                {
                    foreach (var listdata in Model)
                    {
                        <tr>
                            <td>@listdata.Id</td>
                            <td>@listdata.Title</td>
                            <td>@listdata.Detail</td>
                            <td>@listdata.CurrentDateTime</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>



